{% comment %}
// Output Article Author component
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign article_author = article.author %}

{% comment %} Define author data array using string variables {% endcomment %}
{% assign authors = "Graeme Bryson:graeme-bryson.jpg|Rob Kinkopf:rob-kinkopf.jpg" %}

{% comment %} Output component {% endcomment %}
<div class="article__author">
    {% assign author_found = false %}
    {% assign author_list = authors | split: "|" %}
    {% for author in author_list %}
        {% assign author_details = author | split: ":" %}
        {% assign author_name = author_details[0] %}
        {% assign author_image = author_details[1] %}
        {% if article_author == author_name %}
            {% assign author_found = true %}
            {% comment %} Image {% endcomment %}
            <div class="author__image">
                <img src="{{ author_image | asset_url }}" alt="{{ author_name }}">
            </div>
            {% comment %} Name {% endcomment %}
            <h3 class="author__name">{{ author_name }}</h3>
            {% break %}
        {% endif %}
    {% endfor %}
    {% comment %} Fallback author block {% endcomment %}
    {% if author_found == false %}
        {% comment %} Fallback (if unset/invalid) {% endcomment %}
        <div class="article__author-image">
            <img src="{{ 'default-author.jpg' | asset_url }}" alt="Default Author">
        </div>
        <div class="article__author-info">
            <h3>The Paquin Team</h3>
        </div>
    {% endif %}
</div>