{% comment %}
// Output instruction feed for the current product
{% endcomment %}


{% assign instructions = product.metafields.custom.instructions | parse_json %}

{%- if instructions.size > 0 -%}
  <div id="product__instructions">
    <h2>Product Instructions</h2>
    <ul class="list--link-arrow">
      {% for instruction in instructions %}
        {% if instruction.title and instruction.url %}
          <li>
            <a href="{{ instruction.url }}" title="{{ instruction.title | escape }}">{{ instruction.title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{%- else -%}
  <p>No instructions available.</p>
{%- endif -%}