{% comment %}
// Output key specifications for the current product
{% endcomment %}


{% if product.metafields.custom.key_specifications %}
	<!-- Assign component data to vars -->
	{% assign data_source = product.metafields.custom.key_specifications %}
	<!-- Output component -->
	<h2 class="h5">Key Product Specifications</h2>
	{{ data_source }}
	<div class="feed--table-simple">
	  	{% for item in data_source %}
			<pre>Found items</pre>
			{% if item.weight %}
			<div class="item">
				<pre>Found item [Weight]</pre>
				<p class="item__heading">Weight</p>
				<div class="item__content">{{ item.weight }}</div>
			</div>
			{% endif %}
	  	{% endfor %}
	</div>
{% endif %}