{% comment %}
// Output instruction feed for the current product
{% endcomment %}


{% assign instructions = product.metafields.custom.instructions %}

{%- if instructions != blank -%}
  <div id="product__instructions">
    <h2>Product Instructions</h2>
    <ul class="list--link-arrow">
      {% for instruction in instructions %}
        {% assign title = instruction.title %}
        {% assign url = instruction.url %}
        {% if title != blank and url != blank %}
          <li>
            <a href="{{ url }}" title="{{ title | escape }}">{{ title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{%- endif -%}