{% comment %}
// Output inquiry form for the current product
// Applicable only to 'Complex' products
{% endcomment %}


<div id="product__inquiry-form">
	<h2 class="h5">Inquire about this product</h2>
	<p>Enter your information below to get in touch with our specialists, who will assist you in choosing the right configuration for your unique application.</p>
	FORM
</div>