{% comment %}
// Output key specifications for the current product
{% endcomment %}

{% assign key_specs = product.metafields.custom.key_specifications %}

{% if key_specs != blank %}
	<div id="product__key-specifications">
    	<h2 class="h5">Key Product Specifications</h2>
    	<div class="feed--table-specification">
      		{% comment %} Access the metafield definition for 'Specifications' {% endcomment %}
      		{% assign specifications = key_specs.value %}
      		{% comment %} Check and output weight {% endcomment %}
      		{% if specifications.weight %}
				<div class="row">
					<div class="col--header">
						<p>Weight</p>
					</div>
					<div class="col--content">
						<p>{{ specifications.weight }}</p>
					</div>
				</div>
      		{% endif %}
      		{% comment %} Check and output dimensions {% endcomment %}
      		{% if specifications.dimensions %}
				<div class="row">
					<div class="col--header">
						<p>Dimensions</p>
					</div>
					<div class="col--content">
						<p>{{ specifications.dimensions }}</p>
					</div>
				</div>
      		{% endif %}
      	</div>
  	</div>
{% endif %}
