{% comment %}
// Output key specifications for the current product
{% endcomment %}


{% if product.metafields.custom.key_specifications %}
	{% assign data_source = product.metafields.custom.key_specifications.value %}
	<h2>Key Product Specifications</h2>
	<div class="feed--key-specification">
		{% for item in data_source %}
			{{ item }}
			{% if item.weight %}
				<div class="item">
					<p class="item__title">Weight</p>
					<p class="item__value">{{ item.weight | default: product.weight | weight_with_unit }}</p>
				</div>
			{% endif %}
			{% if item.dimensions %}
				<div class="item">
					<p class="item__title">Dimensions</p>
					<p class="item__value">{{ item.dimensions }}</p>
				</div>
			{% endif %}
	 	{% endfor %}
	</div>
{% endif %}