{% comment %}
// Output highlight feed for the current product
{% endcomment %}


{%- if product.metafields.custom.highlights -%}
	<div id="product__highlights">
    	<h2>Product Highlights</h2>
    	<ul class="list--check">
			{% for highlight in product.metafields.custom.highlights %}
				<li>{{ highlight }}</li>
			{% endfor %}
    	</ul>
  	</div>
{%- endif -%}