{% comment %}
// Output instruction feed for the current product
{% endcomment %}

{% if product.metafields.custom.instructions != blank %}
    {% assign instructions_json = product.metafields.custom.instructions.value %}
    {% assign instructions = instructions_json | parse_json %}
    <div id="product__instructions">
        <h2 class="h5">Instructions</h2>
        <ul class="list--link-arrow">
            {% for item in instructions %}
                <li>
                    <a href="{{ item.url }}" title="{{ item.title | escape }}" target="_blank">{{ item.title | escape }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}