{% comment %}
// Output key specifications for the current product
{% endcomment %}


{% assign key_specs = product.metafields.custom.key_specifications %}

{% if key_specs %}
  <div id="product__key-specifications">
    <h2 class="h5">Key Product Specifications</h2>
    {% comment %} Check and output weight {% endcomment %}
    {% if key_specs.weight %}
      <p><strong>Weight:</strong> {{ key_specs.weight }}</p>
    {% endif %}
    {% comment %} Check and output dimensions {% endcomment %}
    {% if key_specs.dimensions %}
      <p><strong>Dimensions:</strong> {{ key_specs.dimensions }}</p>
    {% endif %}
  </div>
{% endif %}
