{% comment %}
// Output description for the current product
{% endcomment %}


{% if product.description != blank %}
	<div id="product__description">
		<h2 class="h5">Product Description</h2>
      	<p>{{ product.description }}</p>
	</div>
{% endif %}