{% comment %}
// Output key specifications for the current product
{% endcomment %}


{% assign key_specs = product.metafields.custom.key_specifications %}

{% if key_specs %}
  <div id="product__key-specifications">
    <h2 class="h5">Key Product Specifications</h2>
    {% comment %} Check and output weight {% endcomment %}
    {% if key_specs.weight.value %}
      <p><strong>Weight1:</strong> {{ key_specs.weight.value }}</p>
	  <p><strong>Weight2:</strong> {{ key_specs.specifications.weight.value }}</p>
	  <p><strong>Weight3:</strong> {{ key_specs.specifications.value.weight.value }}</p>
    {% endif %}
    {% comment %} Check and output dimensions {% endcomment %}
    {% if key_specs.dimensions.value %}
      <p><strong>Dimensions:</strong> {{ key_specs.dimensions.value }}</p>
    {% endif %}
  </div>
{% endif %}
