{% comment %}
// Output instruction feed for the current product
{% endcomment %}


{%- if product.metafields.custom.instructions %}
	<div id="product__instructions">
    	<h2>Product Instructions</h2>
    	<ul class="list--link-arrow">
			{% assign instructions = product.metafields.custom.instructions | remove: '["' | remove: '"]' | split: '","' %}
			{% for item in instructions %}
				<li>
					<a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
				</li>
			{% endfor %}
    	</ul>
  	</div>
{%- endif -%}