{% comment %}
// Output key specifications for the current product
{% endcomment %}


{% if product.metafields.custom.key_specifications %}
	<!-- Assign component data to vars -->
	{% assign data_source = product.metafields.custom.key_specifications.value %}
	<!-- Output component -->
	<div class="feed--table-simple">
		Found data
	  	{% for item in data_source %}
			Found items

			{% if item.weight %}
			<div class="item">
				Found item [Weight]
				<p class="item__heading">Weight</p>
				<div class="item__content">{{ item.weight }}</div>
			</div>
			{% endif %}
		
	  {% endfor %}
	</div>
  {% endif %}