{% comment %}
// Output highlight feed for the current product
{% endcomment %}


{% if product.metafields.custom.highlights %}
	<div id="product__highlights">
		<h2 class="h5">Product Highlights</h2>
	  	<ul>
			{% assign highlights = product.metafields.custom.highlights | remove: '["' | remove: '"]' | split: '","' %}
			{% for item in highlights %}
		  		<li>
					{{ item | strip }}
				</li>
			{% endfor %}
	  	</ul>
	</div>
{% endif %}