// ====================================================================================================
// Variables / Typography
// ====================================================================================================

// Load custom fonts
// --------------------------------------------------

// Paquin Sans Display [400]
@font-face {
	font-family: 'Paquin Sans Display';
	src: url('https://cdn.shopify.com/s/files/1/0797/0911/0575/files/PAQN-Sans-004-Display-400-Trial.ttf?v=1714583431') format('truetype');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

// Paquin Sans Text [400]
@font-face {
	font-family: 'Paquin Sans Text';
	src: url('https://cdn.shopify.com/s/files/1/0797/0911/0575/files/PAQN-Sans-004-Text-400-Trial.ttf?v=1714583431') format('truetype');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}
  
// Paquin Sans Text [600]
@font-face {
	font-family: 'Paquin Sans Text';
	src: url('https://cdn.shopify.com/s/files/1/0797/0911/0575/files/PAQN-Sans-004-Text-600-Trial.ttf?v=1714583431') format('truetype');
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}


// Define font-family defaults
// Values can be accessed via 'font-family($key)'
// Example usage: 'font-family: font-family(base);'
// --------------------------------------------------

$font-familyDefaults: (
	'base':    ( 'Paquin Sans Text', sans-serif ),
	'heading': ( 'Paquin Sans Display', sans-serif ),
	'mono':    ( antarctican-mono, ui-monospace, monospace ),
	'icon':    ( 'Material Symbols Outlined' )
) !default;


// Define font-weight defaults
// Values can be accessed via 'font-weight($key)'
// Example usage: 'font-weight: font-weight(bold);'
// --------------------------------------------------

$font-weightDefaults: (
  	'base':     400,
  	'semibold': 500,
	'bold':     600,
) !default;


// Define responsive font-size defaults (px)
// Also accepts breakpoint-based line-height values
// Example usage: '@include font-size(h1);'
// --------------------------------------------------

$font-sizeDefaults: (
	'xsmall': (
		'base': (font-size: 13px, line-height: 21px),
	),
	'small': (
		'base': (font-size: 15px, line-height: 23px, letter-spacing: -0.08px),
	),
	'base': (
		'base': (font-size: 17px, line-height: 25px, letter-spacing: -0.12px),
	),
	'large': (
		'base':   (font-size: 19px, line-height: 1.4),
		'medium': (font-size: 21px, line-height: 1.4)
	),
	'xlarge': (
		'base':   (font-size: 19px, line-height: 1.45),
		'medium': (font-size: 23px, line-height: 1.4)
	),
	'xxlarge': (
		'base':   (font-size: 24px, line-height: 1.45),
		'medium': (font-size: 32px, line-height: 1.4)
	),
	'headline': (
		'base':   (font-size: 32px, line-height: 40px, letter-spacing: 0.24px),
		'medium': (font-size: 64px, line-height: 72px, letter-spacing: 0.56px),
	),
	'h1': (
		'base':   (font-size: 32px, line-height: 40px, letter-spacing: 0.24px),
		'medium': (font-size: 48px, line-height: 56px, letter-spacing: 0.4px),
	),
	'h2': (
		'base':   (font-size: 28px, line-height: 36px, letter-spacing: 0.16px),
		'medium': (font-size: 36px, line-height: 44px, letter-spacing: 0.24px),
	),
	'h3': (
		'base':   (font-size: 20px, line-height: 28px, letter-spacing: 0.16px),
		'medium': (font-size: 24px, line-height: 32px, letter-spacing: 0.24px),
	),
	'h4': (
		'base':   (font-size: 18px, line-height: 24px, letter-spacing: 0.16px),
		'medium': (font-size: 20px, line-height: 26px, letter-spacing: 0.24px),
	),
	'h5': (
		'base': (font-size: 14px, line-height: 22px, letter-spacing: 0.32px),
	)
) !default;