<section class="wrap--container">
    <h1>Page Not Found</h1>
    <p>It seems the content you were looking for is not available — it may have been moved or no longer exists. <a href="/">Return to our homepage</a>,  <a href="/collections/all/">browse all products</a> or <a href="/contact/">contact us</a> for assistance from a specialist.</p>
</section>
