{% comment %}
// Output Hero [Internal] component
{% endcomment %}


<section class="section--hero-internal">
    {% comment %} Content {% endcomment %}
    <div class="container--content">
        {% comment %} Heading {% endcomment %}
        <h1 class="section__heading">{{ section.settings.heading }}</h1>
        {% comment %} Link {% endcomment %}
        {% if section.settings.link_url != blank %}
            <a href="{{ section.settings.link_url }}" class="section__link button--base">{{ section.settings.link_text }}</a>
        {% endif %}
    </div>
    {% comment %} Image {% endcomment %}
    <div class="container--image" style="background-image: url('{{ section.settings.image | img_url: '1024x' }}');"></div>
</section>