// ====================================================================================================
// Layout / Container
// ====================================================================================================

// Wraps
// ----------------------------------------------------------------------------------------------------

// Wrap [Container]
// Applied to parent section
.wrap--container {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
}

// Wrap [XSmall]
.wrap--xsmall {
    @include rem( max-width, wrap( 'xsmall' ) );
    width: 100%;
}

// Wrap [Small]
.wrap--small {
    @include rem( max-width, wrap( 'small' ) );
    width: 100%;
}

// Wrap [Base]
.wrap--base {
    @include rem( max-width, wrap( 'base' ) );
    width: 100%;
}

// Wrap [Large]
.wrap--large {
    @include rem( max-width, wrap( 'large' ) );
    width: 100%;
}

// Wrap [Max]
.wrap--max {
    @include rem( max-width, wrap( 'max' ) );
    width: 100%;
}


// General
// ----------------------------------------------------------------------------------------------------

// Section headings
.section__primary-heading {
    @include rem((
        margin-top: spacing(6),
        padding-top: spacing(4)
    ));
    border-top: $border--base;
}