// ====================================================================================================
// Layout / Footer
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Footer [Base]
// --------------------------------------------------

// Component container
footer .site-footer-wrapper {
    @include rem( padding, spacing(7) 4vw 0 );
    background-color: color( 'steel', '1' );
    // Widget wrapper
    .site-footer-item {
        @include rem( max-width, wrap( 'max' ) );
        margin: 0 auto;
        padding: 0;
        width: 100%;
        .site-footer-blocks {
            @include rem( padding, spacing(4) 0 spacing(9) );
            border-top: $border--dark;
            // Rich content block
            .site-footer-block-rich-text {
                border-bottom: 0 none;
                @include rem( padding-bottom, spacing(4) );
            }
            // Heading
            .site-footer-block-title {
                @include rem( margin, 12px 0 );
                padding: 0;
            }
            // Strip margin from first block heading
            .site-footer-block-item:first-of-type .site-footer-block-title {
                margin-top: 0;
            }
            // Content
            .site-footer-block-content {
                @include font-size( 'small' );
                padding: 0;
            }
            // Menu 
            .navmenu {
                @include rem( margin-bottom, 12px );
            }
        }
    }
    // Footer [Secondary]
    .site-footer__row--second {
        @include rem( padding, spacing(6) 0 96px );
        border-top: $border--dark;
        display: grid;
        // Container [Brand]
        .container--brand {
            // Logo
            img {
                @include rem(( 
                    margin-bottom: 12px,
                    width: 128px
                ));
            }
        }
        // Content
        p {
            @include font-size( 'xsmall' );
            margin: 0;
        }
        .footer__form {
            @include rem( margin-bottom, spacing(3) );
        }
    }
}


// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Adjust spacing
    footer .site-footer-wrapper {
        // Widget heading
        .site-footer-item .site-footer-blocks {
            @include rem( padding, spacing(4) 0 96px );
             // Rich content block
             .site-footer-block-rich-text {
                padding-bottom: 0;
            }
            // Heading
            .site-footer-block-title {
                @include rem( margin, 0 0 12px );
            }
            // Menu 
            .navmenu {
                margin-bottom: 0;
            }
        }
        // Footer [Secondary]
        .site-footer__row--second {
            @include rem( column-gap, spacing(4) );
            grid-template-columns: repeat( 12, 1fr );
            // Child containers
            & > * {
                grid-column: span 6;
            }
            // Container [Brand]
            .container--brand {
                align-content: flex-end;
                order: 0;
            }
            // Container [Signup]
            .container--brand {
                order: 1;
            }
        }
    }
}