// ====================================================================================================
// Layout / Footer
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Footer [Base]
// --------------------------------------------------

// Component container
footer .site-footer-wrapper {
    background-color: color( 'steel', '1' );
    padding: 0 4vw;
    // Widget wrapper
    .site-footer-item {
        @include rem( max-width, wrap( 'max' ) );
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    // Footer [Secondary]
    .site-footer__row--second {
        display: grid;
        // Container [Brand]
        .container--brand {
            // Logo
            .logo--footer {
                @include rem(( 
                    margin-bottom: spacing(3),
                    width: 128px
                ));
            }
            // Content
            p {
                @include font-size( 'xsmall' );
                margin: 0;
            }
        }
    }
}