// ====================================================================================================
// Layout / Header
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Header [Base]
// --------------------------------------------------

// Component container
.site-header {
    padding: 0 4vw;
    background-color: color( 'steel', '1' );
    // Primary header content container
    .site-header-main {
        @include rem(( 
            transform: translateX( -12px ),
            width: calc( 100% + 24px )
        ));
        align-items: center;
        background-color: color( 'steel', '1' );
        display: grid;
        grid-template-columns: max-content max-content 1fr;
        // Strip pseudo elements
        &::before,
        &::after {
            display: none;
        }
        // Set positioning for all children 
        & > * {
            position: relative;
        }
        // Container [Main]
        .site-header-main-content {
            @include rem( padding, spacing(1) 0 );
            align-items: center;
            display: grid;
            grid-template-columns: 1fr max-content;
            width: 100%;
            // Container [Logo]
            .site-header-logo img {
                @include rem( max-width, 112px );
                display: block;
                margin: 0 auto;
                width: 100%;
            }
            // Container [Actions]
            .site-header-right {
                align-items: center;
                display: grid;
                grid-template-columns: max-content max-content;
            }
        }
        // Triggers [All]
        .site-header-menu-toggle,
        .site-header-mobile-search-button,
        .site-header-account--button,
        .site-header-cart--button {
            @include rem((
                height: 48px,
                width: 48px
            ));
            background-color: transparent;
            border: 0 none;
            cursor: pointer;
            display: flex;
            place-content: center;
            place-items: center;
            // Icon
            svg {
                display: block;
                fill: white;
            }
        }
        // Trigger [Cart]
        .site-header-cart--button {
            position: relative;
            // Count indicator
            .site-header-cart--count::after {
                @include rem(( 
                    border-radius: 16px,
                    font-size: 12px,
                    padding: 4px 6px 
                ));
                background-color: color( 'action', '1' );
                border: 0 none;
                color: white;
                font-weight: font-weight( 'bold' );
                line-height: 1.2;
            }
        }
        // Variant [Fill Width]
        &.site-header--full-width {
            @include rem( max-width, wrap( 'max' ) );
            margin: 0 auto;
            padding: 0;
        }
    }
    .site-navigation-wrapper   {
        background-color: transparent;
    }
    // Navigation container [Mobile, Off-Canvas]
    .mobile-nav-panel {
        left: -4vw;
        // Trigger [Close]
        .mobile-nav-close {
            @include rem((
                top: spacing(1),
                height: 48px,
                padding: 18px,
                width: 48px
            ));
            right: 0;
            // Icon
            svg {
                color: color( 'steel', '4' );
            }
        }
    }
    // Navigation divider
    .mobile-nav-content__border {
        @include rem( margin, spacing(4) 4vw );
        border-bottom: $border--base;
    }
}


// Adjust @custom breakpoint
// Inherited from parent
@include mq( $from: 719px ) {
    // Component container
    .site-header {
        // Primary header content container
        // Adjust grid structure
        .site-header-main {
            grid-template-columns: max-content 1fr;
            // Hide mobile search trigger
            .site-header-mobile-search-button {
                display: none;
            }
            // Adjust grid structure
            .site-header-main-content {
                @include rem(( 
                    column-gap: spacing(3),
                    padding: 12px 0
                ));
                grid-template-columns: max-content 1fr max-content;
                // Container [Logo]
                .site-header-logo img {
                    @include rem( margin-right, 12px );
                }
            }
        }
        // Navigation divider
        .mobile-nav-content__border {
            @include rem( margin, spacing(4) );
            border-bottom: $border--base;
        }
    }
}


// Adjust @custom breakpoint
// Inherited from parent
@include mq( $from: 1024px ) {
    // Component container
    .site-header {
        transition: padding 0.16s ease-out;
        // Primary header content container
        // Adjust grid structure
        .site-header-main {
            grid-template-columns: max-content 1fr;
            transform: translateX( 0 );
            width: 100%;
            // Adjust grid structure
            .site-header-main-content {
                @include rem( column-gap, spacing(4) );
            }
            // Live search container
            .live-search {
                margin-right: 0;
            }
            // Hide mobile menu trigger
            .site-header-menu-toggle {
                left: 0;
                transition: width 0.16s ease-out, margin 0.16s ease-out;
                width: 0;
            }
        }

        // State
        &.site-header-sticky--scrolled {
            // Show mobile menu trigger
            .site-header-menu-toggle {
                @include rem(( 
                    margin-right: spacing(4),
                    width: 24px 
                ));
            }
        }
    }
}



/*
.site-header {
    background-color: color( 'steel', '1' );
    padding: 0 4vw;
    // Primary header content container
    .site-header-main {
        background-color: color( 'steel', '1' );
        &.site-header--full-width {
            @include rem( max-width, wrap( 'max' ) );
            margin: 0 auto;
            padding: 0;
        }

        // Grid structure
        .site-header-main-content {
            @include rem(( 
                column-gap: spacing(4),
                padding: 20px 0 0
            ));
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            margin: 0;
            // Logo container
            .site-header-logo {
                margin: 0;
                // Image
                .site-logo {
                    @include rem( max-width, 128px );
                    height: auto;
                    width: 100%;
                }
            }
            // Live search container
            .live-search {
                margin: 0;
                // Form
                .live-search-form {
                    border-radius: 0;
                    border: 0 none;
                    box-shadow: none;
                    
                    .live-search-form-field {
                        @include rem( padding, spacing(3) );
                        @include font-size( 'small' );
                    }
                    .live-search-filter-wrapper .live-search-filter-label {
                        @include rem( padding, spacing(3) ); 
                        @include font-size( 'small' );
                        background: color( 'steel', '3' );
                        color: white;
                    }
                    .live-search-button {
                        background: white;
                        border: 0px;
                        :not(.disabled):hover {
                            background: white;
                            border: 0px;
                        }
                    }
                }
            }
        }
        // Actions container
        .site-header-right {
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            // Buttons
            .site-header-account, 
            .site-header-cart {
                &--button {
                    @include rem( padding, 12px );
                    display: block;
                    position: relative;
                    right: unset;
                    text-align: center;
                }
                .site-header-account-icon, .site-header-cart-icon {
                    &--svg {
                        fill: color('type', 'white');
                    }
                }
            }
            // Cart action
            .site-header-cart {
                margin-top: unset;
                position: unset;
                width: unset;
                // Cart marker
                .site-header-cart--count::after {
                    background-color: color( 'action', '1' );
                }
            }
        }
    }
    // Navigation container
    #site-header-nav {
        @include rem( max-width, wrap( 'max' ) );
        margin: 0 auto;
        .site-navigation {
            background-color: color( 'steel', '1' );
            padding: 0;
        }
    }
}


// Adjust @medium breakpoint
@include mq( $from: medium ) {
    .site-header {
        .site-header-main {
            &.site-header--full-width {
                .site-header-main-content {
                    // Logo container
                    .site-header-logo {
                        @include rem( margin-right, spacing(3) );
                    }
                }
            }
        }
    }
}
*/