// ====================================================================================================
// Layout / Section [Hero, Internal]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--hero-internal {
    background-color: color( 'steel', '1' );
    display: grid;
    // Container [Content]
    .container--content {
        @include rem( padding, spacing(7) 4vw );
    }
    // Container [Image]
    .container--image {
        background-position: center;
        background-size: cover;
    }
    // Wrap [Content]
    .section__wrap--content .section__wrap--navigation-internal {
        @include rem( column-gap, spacing(2) );
        display: grid;
        grid-template-columns: max-content 1fr;
        // Label
        .navigation__label {
            @include font-size( 'small' );
            font-weight: font-weight( 'bold' );
            margin: 0;
        }
        select#navigation--jump-links {
            @include font-size( 'small' );
            appearance: none;
            background: transparent;
            border: 0 none;
            color: white;
            -moz-appearance: none;
            -o-appearance: none;
            -webkit-appearance: none;
        }
    }
}
    

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--hero-internal {
        // Grid structure
        grid-template-columns: repeat( 2, 1fr );
        // Container [Content]
        .container--content {
            @include rem( padding, spacing(7) spacing(7) spacing(7) 4vw );
            justify-content: flex-end;
            display: flex;
            // Wrap [Content]
            .section__wrap--content {
                @include rem( max-width, 750px );
                width: 100%;
                // Wrap [Content, Internal]
                .section__wrap--content-internal {
                    @include rem( max-width, 640px );
                }
            }
        }
    }
}