// ====================================================================================================
// Layout / Section [Hero, Inline]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--hero-home {
    background-position: center;
    background-size: cover;
    position: relative;
    // Container [Content]
    .container--content {
        position: relative;
        z-index: 1;
        // Wrap [Content]
        .section__wrap--content {
            @include rem(( 
                    padding: 64px 0,
                    row-gap: spacing(4)
                ));
            display: grid;
            // Heading
            .section__heading {
                @include font-size( 'headline' );
                margin: 0;
            }
            // Content
            .section__content {
                // Strip margin from final <p>
                p:last-child {
                    margin: 0;
                }
            }
            // Container [CTA]
            .container--cta {
                @include rem( row-gap, spacing(2) );
                display: flex;
                flex-wrap: wrap;
                // Button(s)
                a {
                    flex: 1 1 100%;
                }
            }
        }
    }
    // Carousel
    .carousel--trust-signals {
        position: relative;
        z-index: 1;
    }
    // Overlay [Darken]
    .section__overlay {
        background-color: rgba( 16, 16, 16, 0.32 );
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}
   
// Adjust @small breakpoint
@include mq( $from: small ) {
    // Section container
    .section--hero-home .container--content .section__wrap--content .container--cta {
        @include rem( column-gap, 12px );
        // Button(s)
        a {
            flex: unset;
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--hero-home {
        // Container [Content]
        .container--content {
            @include rem( max-width, 800px );
            .section__wrap--content {
                @include rem(( 
                    min-height: 512px,
                    padding: 128px 0 96px
                ));
                align-content: flex-end;
                grid-auto-rows: max-content;
                // Content
                .section__content {
                    @include rem( max-width, 512px );
                }
            }
        }
    }
}