// ====================================================================================================
// Layout / Section [Hero, Inline]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--hero-inline {
    @include rem((
        min-height: 512px,
        padding-bottom: 72px,
        padding-top: 72px
    ));
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    // Container [Content]
    .container--content {
        @include rem(( 
            max-width: 800px,
            row-gap: spacing(5)
        ));
        display: grid;
        text-align: center;
        position: relative;
        z-index: 2;
        // Heading
        .section__heading {
            @include font-size( 'headline' );
            margin: 0;
        }
        // Content
        .section__content {
            // Strip margin from final <p>
            p:last-child {
                margin: 0;
            }
        }
        // Container [CTA]
        .container--cta {
            @include rem( row-gap, spacing(2) );
            display: flex;
            flex-wrap: wrap;
            // Button(s)
            a {
                flex: 1 1 100%;
            }
        }
    }
     // Overlay [Darken]
     &::before {
        background: linear-gradient( 0deg, rgba( 48, 55, 58, 1 ) 0%, rgba( 48, 55, 58, 0 ) 100% );
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    // Overlay [Blend]
    &::after {
        background: linear-gradient( 0deg, rgba( 48, 55, 58, 1 ) 0%, rgba( 48, 55, 58, 0 ) 100% );
        bottom: 0;
        content: '';
        height: 50%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
}
   
// Adjust @small breakpoint
@include mq( $from: small ) {
    // Section container
    .section--hero-inline .container--content .container--cta {
        @include rem( column-gap, 12px );
        align-items: center;
        justify-content: center;
        // Button(s)
        a {
            flex: unset;
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--hero-inline {
        @include rem((
            min-height: 640px
        ));
    }
}