// ====================================================================================================
// Layout / Section [Content, Blocks]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--carousel-content-media {
    @include rem( padding-bottom, $gap--section-small );
    // Grid structure
    .section__grid {
        @include rem( row-gap, spacing(5) );
        display: grid;
        // Container [Heading, Small]
        .container--heading-small {
            // Heading [Small]
            .section__heading--small {
                @extend %h5;
                margin: 0;
            }
        }
        // Container [Carousel]
        .container--carousel {
            overflow: hidden;
        }
    }
}
    
// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--carousel-content-media {
        @include rem( padding-bottom, $gap--section-large );
        // Adjust grid structure
        .section__grid {
            @include rem(( 
                column-gap: spacing(4),
                row-gap: spacing(6) 
            ));
            grid-auto-rows: auto;
            grid-template-columns: repeat( 12, 1fr );
            // Container [Heading, Small]
            .container--heading-small {
                grid-column: 1 / span 12;
            }
            // Container [Carousel]
            .container--carousel {
                grid-column: 1 / span 12;
            }
        }
    }
}


// Section Variant [Divisions]
// --------------------------------------------------

// Section container
.section--carousel-content-media.variant--division {
    // Adjust grid structure
    .section__grid {
        // 'Tab' Navigation container
        .container--navigation {
            @include rem( margin-bottom, spacing(5) );
            .container--tabs {
                @include rem( column-gap, spacing(3) );
                display: inline-flex;
                // Item button
                .button--carousel-tab {
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    text-align: left;
                }
            }
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--carousel-content-media.variant--division {
        // Adjust grid structure
        .section__grid {
            @include rem(( 
                column-gap: spacing(4),
                row-gap: spacing(2) 
            ));
            grid-auto-rows: auto;
            grid-template-columns: repeat( 12, 1fr );
             // Container ['Tab' Navigation]
            .container--navigation {
                @include rem( margin-bottom, spacing(6) );
                grid-column: 1 / span 12;
            }
        }
    }
}


// State management
// Item button [:Active, :Hover]
.section--carousel-content-media.variant--division .container--navigation .container--tabs .button--carousel-tab {
    &.state--active,
    &:hover {
        color: color( 'action', '1' );
        cursor: pointer;
    }
}
