// ====================================================================================================
// Layout / Section [Content, Certifications]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--content-certifications {
    @include rem((
        padding-bottom: 96px,
        padding-top: 96px
    ));
    text-align: center;
    // Grid
    .section__grid {
        display: grid;
        @include rem( row-gap, spacing(4) );
        // Heading
        .section__heading {
            @include font-size( 'headline' );
            @include rem( max-width, 900px );
            margin: 0 auto,
        }
        // Content
        .section__content {
            @include rem((
                margin: 0 auto spacing(3),
                max-width: 800px 
            ));
            // Strip margin from final <p>
            p:last-child {
                margin: 0;
            }
        }
         // Container [Feed]
        .container--feed {
            @include rem( max-width, 1024px );
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }
}
    
// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--content-certifications {
        @include rem((
            padding-bottom: 128px,
            padding-top: 128px
        ));
    }
}