// ====================================================================================================
// Layout / Section [Hero, Internal]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--hero-internal {
    background-color: color( 'steel', '1' );
    display: grid;
    // Container [Content]
    .container--content {
        @include rem( padding, spacing(7) 4vw );
    }
    // Container [Image]
    .container--image {
        background-position: center;
        background-size: cover;
    }
}
    

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--hero-internal {
        // Grid structure
        grid-template-columns: repeat( 2, 1fr );
        // Container [Content]
        .container--content {
            @include rem( padding, spacing(7) spacing(7) spacing(7) 4vw );
            justify-content: flex-end;
            display: flex;
            // Wrap [Content]
            .section__wrap--content {
                @include rem( max-width, 600px );
                // Wrap [Content, INternal]
                .section__wrap--content {
                    @include rem( max-width, 512px );
                }
            }
        }
    }
}