// ====================================================================================================
// Layout / Section [Content, Offset]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--content-offset {
    // Grid structure
    .section__grid {
        display: grid;
    }
}
    

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--content-offset {
        // Adjust grid structure
        .section__grid {
            grid-auto-rows: auto;
            grid-template-columns: repeat( 12, 1fr );
            // Container [Heading, Small]
            .container--heading-small {
                grid-column: 1 / span 12;
            }
            // Container [Heading, Large]
            .container--heading-large {
                grid-column: 1 / span 6;
            }
            // Container [Subeading]
            .container--subheading {
                grid-column: 1 / span 2;
                grid-row: 3;
            }
            // Container [Content]
            .container--content {
                grid-column: 3 / span 4;
                grid-row: 3;
            }
            // Container [Image]
            .container--image {
                grid-column: 8 / span 4;
                grid-row: 3;
            }
        }
    }
}