// ====================================================================================================
// Layout / Section [Content, Introduction]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--content-introduction {
    @include rem((
        padding-bottom: 96px,
        padding-top: 96px
    ));
    text-align: center;
    // Grid
    .section__grid {
        display: grid;
        @include rem( row-gap, 12px );
        // Heading
        .section__heading {
            @include rem( max-width, 900px );
            margin: 0 auto;
        }
        // Content
        .section__content {
            @include rem( max-width, 640px );
            margin: 0 auto;
            // Strip margin from final <p>
            p:last-child {
                margin: 0;
            }
        }
        // Container [CTA]
        .container--cta {
            display: flex;
            flex-wrap: wrap;
            // Button(s)
            .button--base {
                @include rem( margin-top, spacing(3) );
                flex: 1 1 100%;
            }
        }
    }
}

// Adjust @small breakpoint
@include mq( $from: small ) {
    // Button(s)
    .section--content-introduction .section__grid .container--cta {
        justify-content: center;
        .button--base {
            flex: unset;
        }
    }
}
    
// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--content-introduction {
        @include rem((
            padding-bottom: 128px,
            padding-top: 128px
        ));
    }
}