// ====================================================================================================
// Layout / Section [Hero, Internal]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--hero-internal {
    background-color: color( 'steel', '1' );
    display: grid;
    // Container [Content]
    .container--content {
        padding: 0 4vw;
        // Wrap [Content]
        .section__wrap--content {
            // Breadcrumb container
            .wrap--container {
                margin-bottom: auto;
                padding: 0 !important;
            }
            .section__wrap--content-internal {
                // Heading
                .section__heading {}
                // Link
                .section__link {
                    @include rem( margin-top, spacing(2) );
                }
            }
            .section__wrap--navigation-internal {
                @include rem(( 
                    column-gap: spacing(2)
                ));
                border-top: $border--dark;
                display: grid;
                grid-template-columns: max-content 1fr;
                // Label
                .navigation__label {
                    @include font-size( 'small' );
                    font-weight: font-weight( 'bold' );
                    margin: 0;
                }
                select#navigation--jump-links {
                    @include font-size( 'small' );
                    appearance: none;
                    background: transparent;
                    border: 0 none;
                    color: color( 'steel', '5' );
                    padding: 0;
                    -moz-appearance: none;
                    -o-appearance: none;
                    -webkit-appearance: none;
                }
            }
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--hero-internal {
        // Container [Content]
        .container--content {
            @include rem( padding, 0 spacing(7) 0 4vw );
            justify-content: flex-end;
            display: flex;
            // Wrap [Content]
            .section__wrap--content {
                width: 100%;
                // Wrap [Content, Internal]
                .section__wrap--content-internal {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    // Heading
                    .section__heading {}
                    // Link
                    .section__link {
                        align-self: flex-start;
                    }
                }
            }
        }
    }
}

// Section [Has Image]
// --------------------------------------------------

// Section container
.section--hero-internal.variant--has-image {
    // Container [Image]
    .container--image {
        aspect-ratio: 4/3;
        background-position: center;
        background-size: cover;
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--hero-internal.variant--has-image {
        // Grid structure
        grid-template-columns: repeat( 2, 1fr );
        // Container [Content]
        .container--content {
            // Wrap [Content]
            .section__wrap--content {
                @include rem( max-width, 750px );
                // Wrap [Content, Internal]
                .section__wrap--content-internal {
                    @include rem( max-width, 640px );
                }
            }
        }
        // Container [Image]
        .container--image {
            aspect-ratio: unset;
        }
    }
}