// ====================================================================================================
// Layout / Section [Hero, Inline]
// ====================================================================================================

// Section Instances
// ----------------------------------------------------------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--hero-inline {
    @include rem((
        min-height: 512px
    ));
    justify-content: center;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    // Container [Content]
    .container--content {
        @include rem( max-width, 800px );
        text-align: center;
        // Heading
        .section__heading {
            margin: 0;
        }
        // Content
        .section__content {
            // Strip margin from final <p>
            p:last-child {
                margin: 0;
            }
        }
        // CTAs
        .section__cta {}
    }
}
    

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--hero-inline {
        @include rem((
            min-height: 640px
        ));
    }
}