// ====================================================================================================
// Components / Accordion
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Accordion [Base]
// --------------------------------------------------

// Component container
.accordion {
    overflow: hidden;
    width: 100%;
    // Item container
    .item {
        @include rem( padding, spacing(3) 0 );
        border-bottom: $border--base;
        // Heading
        .item__heading {
            @extend %p;
            @include font-size( 'base' );
            cursor: pointer;
            font-weight: font-weight( 'bold' );
            margin: 0;
            position: relative;
        }
        // Content
        .item__content {
            @include rem( padding-top, spacing(1) );
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.24s ease-out;
            will-change: max-height;
            // Strip margin from final <p>
            p:last-child {
                margin: 0;
            }
        }
    }
}

// State management
.accordion {
    // Item [:Active]
    .item.state--active {
        // Display content
        .item__content {
            opacity: 1;
        }
    }
}