// ====================================================================================================
// Components / Blockquote
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Blockquote [Base]
// --------------------------------------------------

// Component container
blockquote {
    @include rem((
        margin: spacing(4) 0 spacing(4) spacing(3),
        padding-left: spacing(3)
    ));
    border-left: 3px solid color( 'steel', '1' );
    color: color( 'steel', '4' );
    // Citation
    cite {
        @include font-size( 'small' );
        display: block;
    }
}