// ====================================================================================================
// Components / Button
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Button [Base]
// --------------------------------------------------

.button--base,
%button--base {
    @extend %h5;
    @include rem( padding, spacing(3) spacing(5) );
    background-color: color( 'action', '1' );
    border: 0 none;
    border-radius: 0;
    font-weight: font-weight( 'bold' );
    line-height: 1.2;
}


// State management
.button--base,
%button--base {

    // Hover
    &:hover {
        border: 0 none;
    }

}


// Button [Add to Cart]
// --------------------------------------------------

.product-form--atc-button {
    @extend %button--base;
    height: auto;
    margin: 0;
    width: 100%;
    // Text
    .atc-button--text {
        @include icon( before, 'cart_add' ) {
            @include rem( font-size, 20px );
        }
    }
}