// ====================================================================================================
// Components / Button
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Button [Base]
// --------------------------------------------------

.button--base,
%button--base {
    @extend %h5;
    background-color: color( 'action', '1' );
    font-weight: font-weight( 'bold' );
}


// State management
.button--base,
%button--base {

    // Hover
    &:hover {}

}


// Button [Add to Cart]
// --------------------------------------------------

.product-form--atc-button {
    @extend %button--base;
    height: auto;
    width: 100%;
    // Text
    .atc-button--text {
        @include icon( before, 'cart_add' );
    }
}