// ====================================================================================================
// Components / Component
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Component [Content/Media]
// --------------------------------------------------

// Component container
.carousel--content-media {
    // Item container
    .item {
        // Grid structure
        .item__grid {
            @include rem( row-gap, spacing(6) );
            display: grid;
            // Container [Content]
            .container--content {
                // Wrap [Content]
                .item__wrap--content {
                    @include rem( row-gap, 12px );
                    display: grid;
                    // Subheading
                    .item__subheading {
                        @include font-size( 'xsmall' );
                        margin: 0;
                    }
                    // Heading
                    .item__heading {
                        margin: 0;
                    }
                    // Content
                    .item__content {
                        @include rem( margin-top, spacing(2) );
                        // Strip margin from final <p>
                        p:last-child {
                            margin: 0;
                        }
                    }
                }
                // Wrap [Actions]
                .item__wrap--actions {
                    align-items: flex-end;
                    display: grid;
                    grid-template-columns: 11fr max-content;
                    // CTA
                    .item__cta  {
                        @include font-size( 'xsmall' );
                        // Strip margin from final <p>
                        p:last-child {
                            margin: 0;
                        }
                    }
                    // Slide Navigation
                    .item__navigation {
                        @include rem( column-gap, spacing(3) );
                        align-items: center;
                        display: grid;
                        grid-template-columns: repeat( 2, max-content );
                        // Slide Count
                        .item__count {
                            @include font-size( 'xsmall' );
                        }
                        // Trigger [Next]
                        .trigger--next {
                            @include rem((
                                height: 64px,
                                margin-bottom: 1px,
                                width: 64px,
                            ));
                            background-color: white;
                            border: $border--base;
                            border-radius: 100%;
                            cursor: pointer;
                            display: flex;
                            place-content: center;
                            place-items: center;
                            // Place icon
                            @include icon( 'before', 'chevron_right' ) {
                                @include rem( font-size, 32px );
                                color: color( 'steel', '4' );
                                transition: color 0.16s ease-out;
                            }
                        }
                    }
                }
            }
            // Container [Media]
            .container--media {
                aspect-ratio: 4/3;
                overflow: hidden;
                // Image
                img {
                    display: block;
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Component container
    .carousel--content-media {
        // Item container
        .item {
            // Grid structure
            .item__grid {
                @include rem( column-gap, spacing(7) );
                grid-template-columns: repeat( 2, 1fr );
                // Container [Content]
                .container--content {
                    display: flex;
                    flex-direction: column;
                    // Wrap [Content]
                    .item__wrap--content {
                        @include rem(( 
                            max-width: 512px,
                            padding: spacing(7) 0
                        ));
                        margin: auto 0;
                    }
                    // Wrap [Actions]
                    .item__wrap--actions {
                        margin-top: auto;
                    }
                }
                // Container [Media]
                .container--media {
                    aspect-ratio: unset;
                }
            }
        }
    }
}

// State management
.carousel--content-media {
    // Trigger [Next:Hover]
    .item .item__grid .container--content .item__wrap--actions .item__navigation .trigger--next:hover {
        border-color: color( 'steel', '5' );
        &::before {
            color: color( 'steel', '3' );
        }
    }
}


// Variant [Division]
// --------------------------------------------------

// Component container
.carousel--division {
    // Logo
    .item .item__grid .container--content .item__logo {
        @include rem((
            margin-bottom: spacing(3),
            max-height: 48px,
            max-width: 128px
        ));
    }
}