// ====================================================================================================
// Components / Divider
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Divider [Base]
// --------------------------------------------------

hr,
.divider--base {
    @include rem((
        height: 1px,
        margin: spacing(5) 0
    ));
    background-color: color( 'steel', '5' );
}


// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Adjust spacing
    hr,
    .divider--base {
        @include rem( margin, spacing(7) );
    }
}