// ====================================================================================================
// Components / Feed
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Feed [Table, Specification]
// --------------------------------------------------

.feed--table-specification {
    @include rem( row-gap, spacing(1) );
    display: grid;
    // Row
    .row {
        @include rem( column-gap, spacing(3) );
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        // Column [Content]
        .col--content p {
            font-weight: font-weight( 'bold' );
            text-align: right;
        }
    }
}