// ====================================================================================================
// Components / Feed
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Feed [Block]
// --------------------------------------------------

// Component container
.feed--block {
    @include rem( row-gap, spacing(5) );
    display: grid;
    // Item container
    .item {
        @include rem( row-gap, 12px );
        // Number
        .item__number {
            @include rem( margin-bottom, 12px );
            @extend %h5;
            display: block;
        }
        // Content
        .item__content {
            @include font-size( 'small' );
            // Strip margin from final <p>
            & > p:last-child {
                margin: 0;
            }
        }
    }
}

// Adjust @small breakpoint
@include mq( $from: small ) {
    // Adjust grid structure
    .feed--block {
        @include rem( column-gap, spacing(7) );
        grid-template-columns: repeat( 2, 1fr );
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Component Variants
    .feed--block {
        // Columns [3, Desktop]
        &.variant--col-3 {
            @include rem( column-gap, spacing(7) );
            grid-template-columns: repeat( 3, 1fr );
        }
        // Columns [4, Desktop]
        &.variant--col-4 {
            @include rem( column-gap, spacing(7) );
            grid-template-columns: repeat( 4, 1fr );
        }
        // Columns [6, Desktop]
        &.variant--col-6 {
            @include rem( column-gap, spacing(4) );
            grid-template-columns: repeat( 6, 1fr );
        }
    }
}


// Feed [Collection]
// --------------------------------------------------

// Component container
.feed--collection {
    @include rem( row-gap, spacing(5) );
    display: grid;
    // Item container
    .item {
        @include rem( row-gap, 12px );
        display: grid;
        // Wrap [Image]
        .item__wrap--image {
            @include rem( margin-bottom, spacing(2) );
            aspect-ratio: 1/1;
            border: $border--base;
            overflow: hidden;
            // Image
            .item__image {
                display: block;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: transform 0.8s ease-out;
                width: 100%;
            }
        }
        // Title
        .item__title {
            @extend %h4;
            margin: 0;
            // Link
            a {
                color: color( 'steel', '1' ) !important;
                font-weight: font-weight( 'base' ) !important;
            }
        }
        // Description
        .item__description {
            @include font-size( 'small' );
            margin: 0;
        }
        // Link
        .item__link {
            @include font-size( 'small' );
            margin: 0;
        }
    }
}

// Adjust @small breakpoint
@include mq( $from: small ) {
    // Component container
    .feed--collection {
        @include rem( column-gap, spacing(4) );
        grid-template-columns: repeat( 2, 1fr );
        // Item description
        .item .item__description {
            @include rem( padding-right, spacing(2) );
        }
    }
}

// Adjust @large breakpoint
@include mq( $from: large ) {
    // Component container
    .feed--collection {
        grid-template-columns: repeat( 4, 1fr );
    }
}


// Feed [Post]
// --------------------------------------------------

// Component container
.feed--post {
    @include rem( row-gap, spacing(5) );
    display: grid;
    // Item container
    .item {
        @include rem( row-gap, 12px );
        display: grid;
        // Wrap [Image]
        .item__wrap--image {
            @include rem( margin-bottom, spacing(2) );
            aspect-ratio: 1/1;
            overflow: hidden;
            // Image
            .item__image {
                display: block;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: transform 0.8s ease-out;
                width: 100%;
            }
        }
        // Title
        .item__title {
            @extend %h4;
            margin: 0;
            // Link
            a {
                font-weight: font-weight( 'base' ) !important;
            }
        }
        // Excerpt
        .item__excerpt {
            @include font-size( 'small' );
            margin: 0;
        }
        // Link
        .item__link {
            @include font-size( 'small' );
            margin: 0;
        }
    }
}

// Adjust @small breakpoint
@include mq( $from: small ) {
    // Component container
    .feed--post {
        @include rem( column-gap, spacing(4) );
        grid-template-columns: repeat( 2, 1fr );
        // Item excerpt
        .item .item__excerpt {
            @include rem( padding-right, spacing(2) );
        }
    }
}

// Adjust @large breakpoint
@include mq( $from: large ) {
    // Component container
    .feed--post {
        grid-template-columns: repeat( 4, 1fr );
    }
}

// State management
.feed--post {
    // Image:hover
    .item .item__wrap--image:hover {
        filter: none !important;
        .item__image {
            transform: scale( 1.12 );
        }
    }
}


// Feed [Table, Specification]
// --------------------------------------------------

// Component container
.feed--table-specification {
    @include rem( row-gap, spacing(1) );
    display: grid;
    // Row
    .row {
        @include rem( column-gap, spacing(3) );
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        // Column [Content]
        .col--content p {
            font-weight: font-weight( 'bold' );
            text-align: right;
        }
    }
}


// Feed [Team]
// --------------------------------------------------

// Component container
.feed--team {
    @include rem(( 
        column-gap: spacing(3),
        row-gap: spacing(5) 
    ));
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    // Item
    .item {
        @include rem( row-gap, spacing(3) );
        align-content: flex-start;
        display: grid;
        // Image
        .item__image {
            display: block;
            width: 100%;
        }
        // Name
        .item__name {
            @extend %h4;
            @include rem( margin-bottom, spacing(1) );
         }
        // Role
        .item__role {
            @include font-size( 'small' );
            @include rem( margin, spacing(1) 0 0 );
        }
        // LinkedIn
        .item__linkedin {
            @include font-size( 'small' );
        }
    }
}

// Adjust @small breakpoint
@include mq( $from: small ) {
    // Component container
    .feed--team {
        grid-template-columns: repeat( 4, 1fr );
        // Container [Content]
        .container--content {
            @include rem( padding-right, spacing(2) );
        }
    }
}

// Adjust @large breakpoint
@include mq( $from: large ) {
    // Component container
    .feed--team {
        grid-template-columns: repeat( 6, 1fr );
    }
}


// Feed [Trust Signal]
// --------------------------------------------------

// Component container
.feed--trust-signal {
    // Item container
    .item {
        @include rem((
            column-gap: spacing(2),
            grid-template-columns: 16px 1fr,
            padding-top: spacing(5)
        ));
        border-top: $border--dark;
        display: grid;
        // Container [Content]
        .container--content {
            // Heading
            .item__heading {
                @include font-size( 'small' );
                @include rem( margin-bottom, spacing(1) );
                color: white;
                font-weight: font-weight( 'bold' );
            }
            // Content
            .item__content {
                @include font-size( 'small' );
                // Strip margin from final <p>
                p:last-child {
                    margin: 0;
                }
            }
        }
    }
    // Glide carousel instance
    // Container
    &.glide__slides {
        @include rem( padding-bottom, spacing(6) !important);
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Component container
    .feed--trust-signal {
        @include rem( column-gap, spacing(4) );
        display: grid;
        grid-template-columns: repeat( 3, 1fr );
         // Glide carousel instance
        // Container
        &.glide__slides {
            @include rem( padding-bottom, spacing(7) !important);
            display: grid !important;
        }
    }
}