// ====================================================================================================
// Components / Filter
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Filter [Collection]
// --------------------------------------------------

// Filter container
.productgrid--sidebar {
    width: 100%;
    // Single filter button
    .collection-filters__filter-group {
        @include rem( padding, 12px 0 );
        .collection-filters__filter-group-heading.productgrid--sidebar-button {
            align-items: center;
            display: grid;
            grid-template-columns: 1fr max-content;
            // Filter label
            .collection-filters__filter-title {
                @extend %h5;
                margin: 0;
            }
        }
    }
    // Filter option container
    .collection-filters__filter {
        @include rem( margin-top, 12px );
        .collection-filters__filter-list-item {
            @include font-size( 'small' );
            padding: 0;
        }
    }
}