// ====================================================================================================
// Components / Link
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Link [Base]
// --------------------------------------------------

p a,
li a {
    color: color( 'action', '1' );
    font-weight: font-weight( 'bold' );
    text-decoration: none;
}


// State management
p a,
li a {

    // Hover
    &:hover {
        text-decoration: underline;
    }

}


// Link [Icon]
// --------------------------------------------------

.link--icon {
    @include rem( column-gap, 6px );
    display: grid;
    grid-template-columns: max-content 1fr;

    // Icon
    &::before {
        color: color( 'action', '1' );
        line-height: 1.2;
        font-size: 128%;
    }

}

.link--icon-data-sheet {
    @include icon( before, 'data_sheet');
}