// ====================================================================================================
// Components / Link
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Link [Base]
// --------------------------------------------------

#site-main {
    a:not([class]):not([class*='button']):not(.breadcrumbs-container a),
    p a,
    li a,
    .link--icon-before,
    .link--icon-after {
        color: color( 'action', '1' );
        font-weight: font-weight( 'bold' );
        text-decoration: none;
        // Strip decoration from pseudo elements
        &::before,
        &::after {
            text-decoration: none;
        }
    }
}


// State management
#site-main {
    a:not([class]):not([class*='button']):not(.breadcrumbs-container a),
    p a,
    li a {
        // Hover
        &:hover {
            filter: brightness(1.12);
            text-decoration: underline;
            // Strip decoration from pseudo elements
            &::before,
            &::after {
                text-decoration: none;
            }
        }
    }
}


// Link [Icon, Before]
// --------------------------------------------------

.link--icon-before {
    &::before {
        @include rem( margin-right, 4px );
        display: inline-block;
        line-height: 1;
        transition: transform 0.12s ease-out;
    }
     // Remove :after pseudo-element
     &::after {
        display: none;
    }
}

// State management
.link--icon-before:hover {
    text-decoration: none !important;
}


// Link [Icon, After]
// --------------------------------------------------

.link--icon-after {
    // Remove :before pseudo-element
    &::before {
        display: none;
    }
    // Icon
    &::after {
        @include rem( margin-left, 4px );
        display: inline-block;
        line-height: 1;
        transition: transform 0.12s ease-out;
    }
}

// State management
.link--icon-after:hover {
    text-decoration: none !important;
}


// Link [Icon, Data Sheet]
// --------------------------------------------------

.link--icon-data-sheet {
    @include icon( before, 'data_sheet' );
    @include icon( after, 'data_sheet' );
    // Icon-specific adjustments
    &::before,
    &::after {
        font-size: 128%;
    }
}


// Link [Icon, Arrow, Down]
// --------------------------------------------------

.link--icon-arrow-down {
    @include icon( before, 'arrow_down' );
    @include icon( after, 'arrow_down' );
    // Icon-specific adjustments
    &::before,
    &::after {
        @include rem( margin-top, -2px );
    }
}


// Link [Icon, Arrow, Forward]
// --------------------------------------------------

.link--icon-arrow-forward {
    @include icon( before, 'arrow_forward' );
    @include icon( after, 'arrow_forward' );
}

// State management
.link--icon-arrow-forward:hover {
    &::after {
        transform: translateX( 2px );
    }
}


// Link [Icon, Arrow, Outgoing]
// --------------------------------------------------

.link--icon-arrow-outgoing {
    @include icon( before, 'arrow_up_right' );
    @include icon( after, 'arrow_up_right' );
}

// State management
.link--icon-arrow-outgoing:hover {
    &::after {
        transform: translate( 2px, -2px );
    }
}