// ====================================================================================================
// Components / List
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// List [Unordered]
// --------------------------------------------------

ul {}


// List [Link, Arrow]
// --------------------------------------------------

ul.list--link-arrow {

    // List item
    li {
        @include rem((
            margin-bottom: spacing(2),
            padding-left: spacing(5)
        ));
        position: relative;
        
        // Inject icon as pseudo element
        @include icon( before, 'arrow_up_right');

        &::before {
            position: absolute;
            top: 0;
            right: 0;
        }

    }
}