// ====================================================================================================
// Components / Navigation
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Navigation [Primary, Desktop]
// --------------------------------------------------

.site-navigation .navmenu {
    @include rem( column-gap, spacing(3) );
    margin: 0;
    // Parent item container
    & > li {
        @include font-size( 'base' );
        letter-spacing: -0.16px;
        padding: 0;
        // Empty item wrapper
        summary {
            @include rem( line-height, 64px );
            padding: 0;
            // Link
            a {
                padding: 0;
            }
        }
    }
    // Parent Links
    & > li > a {
        @include rem( line-height, 64px );
        padding: 0;
    }
}


// Adjust @medium breakpoint
@include mq( $from: medium ) {}