// ====================================================================================================
// Components / Navigation
// ====================================================================================================

// Component Instances
// ----------------------------------------------------------------------------------------------------

// Navigation [Primary, Desktop]
// --------------------------------------------------

.site-navigation > .navmenu {
    @include rem(  transform, translateX( -12px ) );
    margin: 0;
    // Parent item container
    & > li {
        @include font-size( 'base' );
        letter-spacing: -0.16px;
        padding: 0;
        transition: opacity 0.24s ease-out;
        // Empty item wrapper
        summary {
            @include rem(( 
                line-height: 64px,
                padding: 0 12px
            ));
            // Link
            a {
                padding: 0;
                font-weight: font-weight( 'base' );
            }
        }
    }
    // Parent Links
    & > li > a {
        @include rem(( 
            line-height: 64px,
            padding: 0 12px
        ));
        font-weight: font-weight( 'base' );
    }
    // Child dropdown container [Level 2]
    .navmenu-depth-2 {
        padding: 0;
        // Link
        & > li > a {
            @include font-size( 'small' );
        }
    }
}


// State management
// Navigation [:Hover]
.site-navigation > .navmenu:hover {
    & > li {
        opacity: 0.64;
        &:hover {
            opacity: 1;
        }
    }
}


// Adjust @medium breakpoint
@include mq( $from: medium ) {}


// Navigation [Secondary, Desktop]
// --------------------------------------------------

.site-navigation .site-navigation__secondary-menu {
    // Item
    li {
        @include font-size( 'xsmall' );
        opacity: 1;
    }
}