// ====================================================================================================
// Templates / Account
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Section container
.account-page-login {
    @include rem((
        padding-top: spacing(6),
        padding-bottom: $gap--section-small 
    ));
    margin: 0;
    // Container [Masthead]
    .account-page-masthead {
        @include rem( margin-bottom, spacing(5) );
        margin-top: 0;
        // Heading
        h1 {
            @include rem( margin-bottom, 12px );
        }
        // Content
        p {
            margin: 0;
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Adjust section container
    .account-page-login {
        @include rem((
            padding-top: spacing(9),
            padding-bottom: $gap--section-large 
        ));
        // Container [Masthead]
        .account-page-masthead {
            @include rem( margin-bottom, spacing(6) );
            // Heading
            h1 {
                @include rem( margin-bottom, spacing(3) );
            }
        }
    }
}


// Container [Actions]
// --------------------------------------------------

// Grid structure
.form-action-row {
    @include rem( row-gap, spacing(2) );
    display: grid;
    grid-template-rows: 1fr;
}

// Account creation & password reset
.form-action-row--helper {
    @include font-size( 'small' );
    @include rem( margin, spacing(3) 0 0 !important );
    text-align: center;
}