// ====================================================================================================
// Templates / Account
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Container [Actions]
// --------------------------------------------------

// Grid structure
.form-action-row {
    @include rem( row-gap, spacing(2) );
    display: grid;
    grid-template-rows: 1fr;
}

// Account creation & password reset
.form-action-row--helper {
    @include font-size( 'small' );
    @include rem( margin, spacing(3) 0 0 !important );
    text-align: center;
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {}