// ====================================================================================================
// Templates / Article
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Containers
// --------------------------------------------------

.article--container {
    display: grid !important;
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%;
}


// Section [Article Header]
// --------------------------------------------------

// Component container
.section--article-header {
    @include rem( padding-bottom, spacing(6) );
    // Grid structure
    .section__grid {
        @include rem( row-gap, spacing(4) );
        display: grid;
        // Container [Breadcrumbs]
        & > .wrap--container {
            padding: 0 !important;
            // Breadcrumbs
            .breadcrumbs-container {
                max-width: none;
            }
        }
        // Container [Heading]
        .container--heading {
            @include rem( margin-top, spacing(3) );
            // Heading
            .article__heading {
                @include font-size( 'headline' );
                margin: 0;
            }
        }
        // Container [Author]
        .container--author {}
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    .section--article-header {
        @include rem( padding-bottom, spacing(8) );
        // Adjust grid structure
        .section__grid {
            grid-auto-rows: auto;
            grid-template-columns: repeat( 12, 1fr );
             // Container [Breadcrumbs]
            & > .wrap--container {
                grid-column: 1 / span 12;
            }
            // Container [Heading]
            .container--heading {
                @include rem( margin-top, spacing(5) );
                grid-column: 1 / span 8;
                grid-row: 2;
            }
            // Container [Author]
            .container--author {
                grid-column: 1 / span 12;
                grid-row: 3;
            }
        }
    }
}


// Section [Article Content]
// --------------------------------------------------

// Component container
.section--article-content {
    // Grid structure
    .section__grid {
        @include rem((
            margin-top: spacing(6),
            padding: spacing(6) 0 $gap--section-small,
            row-gap: spacing(5)
        ));
        border-top: $border--base;
        display: grid;
        // Container [Content]
        .container--content {
            // Image
            img:not([class]) {
                @include rem( margin, spacing(5) 0 );
                display: block;
                width: 100%;
            }
            // Override break spacing
            br {
                @include rem( margin, 6px 0 );
                display: block;
            }
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    .section--article-content {
        // Adjust grid structure
        .section__grid {
            @include rem(( 
                column-gap: spacing(4),
                padding: spacing(6) 0 $gap--section-large,
                row-gap: spacing(6)
            ));
            grid-template-columns: repeat( 12, 1fr );
            // Container [Sidebar]
            .container--sidebar {
                grid-column: 1 / span 2;
                order: 0;
            }
            // Container [Content]
            .container--content {
                grid-column: 4 / span 6;
                order: 1;
                // Widget [Author]
                .article__author {
                    @include rem( margin-top, spacing(6) );
                }
            }
        }
    }
}


// Template-Specific Components
// ----------------------------------------------------------------------------------------------------

// Article Author
// --------------------------------------------------

.article__author {
    @include rem( column-gap, spacing(3) );
    align-items: center;
    display: grid;
    grid-template-columns: max-content 1fr;
    // Container [Image]
    .container--image  {
        @include rem((
            height: 64px,
            width: 64px
        ));
        background-color: color( 'steel', '4' );
        border-radius: 100%;
        overflow: hidden;
        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }
    // Container [Information]
    .container--information  {
        // Name
        .author__name {
            @include font-size( 'small' );
            margin: 0;
            span {
                font-weight: font-weight( 'bold' );
            }
        }
        // Tags
        .article__tags {
            @include font-size( 'xsmall' );
            color: color( 'steel', '4' );
            margin: 0;
            // Link
            a {
                color: color( 'steel', '4' ) !important;
                font-weight: font-weight( 'base' ) !important;
            }
        }
    }
}