// ====================================================================================================
// Template / Blog
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Containers
// --------------------------------------------------

// Section [Blog Header]
// --------------------------------------------------

.section--blog-header {
    // Container [Content]
    .container--content {
        // Heading
        .section__heading {
            @include font-size( 'headline' );
            @include rem( margin, $gap--section-small 0 spacing(3) );
        }
        // Content
        .section__content {
            @include font-size( 'large' );
            // Strip margin from final <p>
            p:last-child {
                margin: 0;
            }
        }
    }
    // Container [Tags]
    .container--tags {
        @include rem( margin-top, spacing(4) );
        p {
            @include font-size( 'xsmall' );
            @include rem( margin-bottom, spacing(2) );
            color: color( 'steel', '4' );
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--blog-header {
        // Heading
        .container--content .section__heading {
            @include rem( margin, $gap--section-large 0 spacing(3) );
        }
    }
}


// Section [Feed, Blog]
// --------------------------------------------------

// Section container
.section--feed-blog {
    @include rem( padding-bottom, $gap--section-small );
    // Grid structure
    .section__grid {
        @include rem( row-gap, spacing(5) );
        display: grid;
        // Container [Heading, Small]
        .container--heading-small {
            // Heading [Small]
            .section__heading--small {
                @extend %h5;
                margin: 0;
            }
        }
    }
}
    

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--feed-post {
        @include rem( padding-bottom, $gap--section-large );
        // Adjust grid structure
        .section__grid {
            @include rem( row-gap, spacing(6) );
            grid-auto-rows: auto;
            grid-template-columns: repeat( 12, 1fr );
            // Container [Heading, Small]
            .container--heading-small {
                grid-column: 1 / span 12;
            }
            // Container [Feed]
            .container--feed {
                grid-column: 1 / span 12;
            }
        }
    }
}