// ====================================================================================================
// Templates / Cart
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

.cart--section {
    margin: 0;
    padding: 0;
    max-width: none;
    width: 100%;
}

// Section [Form]
// --------------------------------------------------

// Component container
.template-cart form {
    padding: 0 4vw;
    // Container [Header]
    .cart-title {
        @include rem( max-width, 960px );
        margin: 0 auto;
        width: 100%;
        // Heading
        .cart-title-left {}
        // 'Continue Shopping' Link
        .cart-title-left {}
    }
    // Container [Cart Contents]
    .cartitems--container {
        @include rem( max-width, 960px );
        margin: 0 auto;
        width: 100%;
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    .template-cart form {}
}