// ====================================================================================================
// Templates / Cart
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

.cart--section {
    margin: 0;
    padding: 0;
    max-width: none;
    width: 100%;
}

// Section [Form]
// --------------------------------------------------

// Component container
.template-cart .cart--section > form {
    @include rem( padding, spacing(6) 4vw $gap--section-small );
    // Container [Header]
    .cart-title {
        @include rem((
            margin: 0 auto spacing(4),
            max-width: 960px,
            row-gap: 12px
        ));
        display: grid;
        justify-content: unset;
        width: 100%;
        // Container [Heading]
        .cart-title-left {}
        // Container [Right]
        .cart-title-right {
            @include rem( column-gap, spacing(4) );
            display: grid;
            // Subtotal Indicator
            .cart-title-total {
                @include font-size( 'small' );
                text-align: left;
                margin: 0;
                span {
                    margin: 0;
                }
            }
        }
    }
    // Container [Cart Contents]
    .cartitems--container  {
        @include rem( max-width, 960px );
        margin: 0 auto;
        width: 100%;
        // Container [Feed]
        .cartitems--list {
            @include rem( row-gap, spacing(3) );
            display: grid;
            // Item container
            .cart-item {
                @include rem((
                    column-gap: 12px,
                    grid-template-columns: 80px 1fr,
                    padding: spacing(4) spacing(3)
                ));
                border: $border--base;
                box-shadow: none;
                display: grid;
                margin: 0;
                // Image
                .cart-item--image-wrapper {
                    width: 100%;
                    img {
                        display: block;
                    }
                }
                // Details
                .cart-item--inner {
                    @include rem( row-gap, spacing(2) );
                    display: grid;
                    padding: 0;
                    width: 100%;
                    // Product Information
                    .cart-item--content {
                        padding: 0;
                        // Title
                        .cart-item--content-title {
                            @include rem( margin, 0 0 2px );
                            @extend %h4;
                            // Link
                            a {
                                color: color( 'steel', '1' ) !important;
                                font-weight: font-weight( 'base' ) !important;
                            }
                        }
                        // Price
                        .cart-item--content-price {
                            @include font-size( 'small' );
                            color: color( 'steel', '4' );
                        }
                    }
                    // Product-Specific Form
                    .cart-item__info {
                        @include rem( row-gap, 12px );
                        align-items: center;
                        display: grid;
                        grid-template-areas: 
                        'quantity quantity'
                        'total remove';
                        grid-template-columns: 1fr max-content;
                        margin: 0;
                        padding: 0;
                        // Input container
                        .cart-item__quantity {
                            grid-area: quantity;
                            quantity-selector {
                                margin: 0;
                                max-width: none;
                                width: 100%;
                                .quantity-selector__wrapper {
                                    @include rem( height, 54px );
                                    // Button(s)
                                    .quantity-selector__button {
                                        @include rem( width, 54px );
                                        background-color: color( 'background', 'input' );
                                        border: 0 none;
                                        border-radius: 0;
                                        justify-content: center;
                                        &:focus {
                                            box-shadow: none;
                                        }
                                    }
                                    // Input
                                    .quantity-selector__input {
                                        background-color: color( 'background', 'input' );
                                        border: 0 none;
                                        border-radius: 0;
                                        width: 100% !important;
                                    }
                                }
                            }
                        }
                        // Item total container
                        .cart-item__total {
                            @include font-size( 'small' );
                            grid-area: total;
                            line-height: 1;
                            margin-top: 0;
                            text-align: left;
                        }
                        // Item removal container
                        .cart-item__remove {
                            grid-area: remove;
                            line-height: 0;
                            margin: 0;
                            position: relative;
                            width: auto;
                            .cart-item__remove-link {
                                @include rem( padding, 6px );
                                height: auto;
                                width: auto;
                                path {
                                    fill: color( 'steel', '4' );
                                }
                                // Remove inherited pseudo element
                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        // Container [Total]
        .cart-total {
            @include rem( margin-top, spacing(5) );
            .cart-final-total {
                border: 0 none;
                margin: 0;
                padding: 0;
                // Subtotal Heading
                .cart-subtotal span.heading {
                    @extend %h5;
                    margin: 0;
                }
                // Price
                .cart-subtotal span.money {
                    font-weight: font-weight( 'bold' );
                }
            }
            .cart-shipping p {
                @include font-size( 'small' );
                color: color( 'steel', '4' );
                margin: 0;
            }
            .cart-checkout {
                @include rem((
                    margin-top: spacing(5),
                    padding-top: spacing(5)
                ));
                border-top: $border--base;
            }
        }
        // Container [Total]
        .cart-checkout {
            @include rem( row-gap, 6px );
            display: grid;
            // 'Continue Shopping' Link
            .cart-continue {
                margin: 0;
                text-align: left;
            }
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    .template-cart .cart--section > form {
        @include rem( padding, spacing(6) 4vw $gap--section-large );
        // Container [Header]
        .cart-title {
            grid-template-columns: 1fr max-content;
            // Container [Right]
            .cart-title-right {
                grid-template-columns: 1fr max-content;
            }
        }
        // Container [Cart Contents]
        .cartitems--container  {
             // Feed container
            .cartitems--list {
                // Item container
                .cart-item {
                    // Details
                    .cart-item--inner {
                        @include rem((
                            column-gap: spacing(4),
                            grid-template-columns: 320px 1fr 
                        ));
                        // Product-Specific Form
                        .cart-item__info {
                            @include rem( column-gap, spacing(4) );
                            align-items: center;
                            grid-template-areas: 'quantity total remove';
                            grid-template-columns: 1fr max-content max-content;
                        }
                    }
                }
            }
            // Container [Total]
            .cart-checkout {
                grid-template-columns: max-content max-content;
                justify-content: space-between;
            }
        }
    }
}