// ====================================================================================================
// Templates / Collection
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Allow product cards to overflow grid container
.template-collection .container--grid {
	overflow: visible;
}


// Section [Page Header]
// Contains collection title & description
// --------------------------------------------------

// Section container
.template-collection .productgrid--masthead {
    @include rem( padding, spacing(4) 0 spacing(8) );
    // Title
    .collection--title {
        @include rem( max-width, 800px );
        margin: 0 auto;
        width: 100%;
        // Title [Variable]
        .title__variable {
            @extend %p;
            @include font-size( 'large' );
            color: color( 'steel', '4' );
            display: block;
            font-weight: normal;
            letter-spacing: 0;
            margin: 0;
        }
    }
    // Description
    .collection--description {
        @include rem((
            margin: 12px auto 0, 
            max-width: 800px 
        ));
        width: 100%;
        // Content
        p {
            margin: 0;
        }
        // 'Learn more' link
        .link--icon-before {
            @include rem( margin-top, 12px );
            display: inline-block;
        }
    }
}

// Variant [Base]
.template-collection .productgrid--masthead .container--grid.variant--base {
    display: grid;
    text-align: center;
    .container--image {
        @include rem( margin-bottom, spacing(4) );
        // Wrap [Image]
        .wrap--image {
            @include rem( max-width, 256px );
            aspect-ratio: 1/1;
            border: $border--base;
            margin: 0 auto;
            overflow: hidden;
            // Image
            img {
                display: block;
                height: 100%;
                object-position: center;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

// Variant [Empty]
.template-collection .productgrid--masthead .container--grid.variant--empty {
    display: grid;
    text-align: center;
    // Container [Image]
    .container--image {
        @include rem( margin-bottom, spacing(4) );
        // Wrap [Image]
        .wrap--image {
            @include rem( max-width, 160px );
            aspect-ratio: 1/1;
            border: $border--base;
            margin: 0 auto;
            overflow: hidden;
            // Image
            img {
                display: block;
                height: 100%;
                object-position: center;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    // Container [Content]
    .container--content {
        @include rem( max-width, 800px );
        margin: 0 auto;
        text-align: center;
        // Title 
        .collection--title {
            @include rem( margin-bottom, spacing(3) );
        }
        // Content
        p {
            @include rem( margin-bottom, 20px );
        }
    }
}

// Variant [Collections — All]
.template-collection .productgrid--masthead .container--header-ready-made {
    @include rem( row-gap, spacing(5) );
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    // Block [Content]
    .block--content {
        grid-column: 1/span 12;
        text-align: left;
        // Cap item widths
        & > * {
            @include rem( max-width, 512px );
        }
        // Title & Description
        .collection--title,
        .collection--description {
            margin-left: 0
        }
    }
    // Block [Barksdale]
    // Block [Sensors]
    .block--barksdale,
    .block--sensors {
        @include rem( padding-top, spacing(4) );
        border-top: $border--base;
        grid-column: 1/span 12;
        // Content
        p {
            @include font-size( 'small' );
            margin: 0;
        }
    }
    // Block [Sensors]
    .block--sensors {
        // CTA
        .block__cta {
            @include rem( margin-top, spacing(3) );
            p {
                @include rem( margin, 0 0 12px );
                @include font-size( 'small' );
                color: color( 'steel', '4' );
            }
        }
    }
}

// Adjust @custom breakpoint
@include mq( $from: 860px ) {
    
    // Primary container
    .template-collection .productgrid--masthead {
        @include rem( padding, spacing(5) 0 $gap--section-small );
    }

    // Variant [Collections — All]
    .template-collection .productgrid--masthead .container--header-ready-made {
        @include rem( column-gap, spacing(4) );
        // Block [Barksdale]
        // Block [Sensors]
        .block--barksdale,
        .block--sensors {
            @include rem( padding, spacing(4) 0 0 0 );
        }
        // Block [Barksdale]
        .block--barksdale {
            grid-column: 1/span 6;
        }
        // Block [Sensors]
        .block--sensors {
            grid-column: 7/span 6;
        }
    }

}

// Adjust @large breakpoint
@include mq( $from: large ) {

     // Variant [Collections — All]
     .template-collection .productgrid--masthead .container--header-ready-made {
        // Block [Barksdale]
        .block--content {
            grid-column: 1/span 6;
        }
        // Block [Barksdale]
        // Block [Sensors]
        .block--barksdale,
        .block--sensors {
            @include rem( padding, 0 0 0 spacing(4) );
            border-left: $border--base;
            border-top: 0 none;
            // Cap element widths
            & > * {
                @include rem( max-width, 320px );
            }
        }
        // Block [Barksdale]
        .block--barksdale {
            grid-column: 7/span 3;
        }
        // Block [Sensors]
        .block--sensors {
            grid-column: 10/span 3;
        }
    }

}

// Section [Subcollections]
// --------------------------------------------------

// Section [Base]
// --------------------------------------------------

// Section container
.section--subcollections {
    @include rem(( 
        padding: spacing(4) 4vw $gap--section-small
    ));
    background-color: color( 'background', 'alt' );
    // Grid structure
    .section__grid {
        @include rem( row-gap, spacing(5) );
        display: grid;
        // Container [Heading, Small]
        .container--heading {
            // Heading [Small]
            .section__heading {
                @include rem( margin, 0 0 spacing(2) );
                @extend %h5;
            }
        }
    }
}

// Adjust @custom breakpoint
@include mq( $from: 860px ) {
    // Section container
    .section--subcollections {
        // Adjust grid structure
        .section__grid {
            // Container [Heading, Small]
            .container--heading {
                // Heading [Small]
                .section__heading {
                    @extend %h5;
                    margin: 0;
                }
            }
        }
    }
}

// Adjust @medium breakpoint
@include mq( $from: medium ) {
    // Section container
    .section--subcollections {
        @include rem( padding-bottom, $gap--section-large );
        // Adjust grid structure
        .section__grid {
            @include rem( row-gap, spacing(6) );
            grid-auto-rows: auto;
            grid-template-columns: repeat( 12, 1fr );
            // Container [Heading, Small]
            .container--heading {
                grid-column: 1 / span 12;
                grid-row: 1;
            }
            // Container [Feed]
            .container--feed {
                grid-column: 1 / span 12;
                grid-row: 2;
            }
        }
    }
}


// Collection Feed
// --------------------------------------------------

// Grid container
.template-collection .collection--section .productgrid--outer {
    margin: 0 auto;
    max-width: none;
    padding: 0;
    row-gap: 0;
    width: 100%;
    // Remove inherited pseudo elements
    &::before,
    &::after {
        display: none;
    }
    // Container [Feed]
    .productgrid--wrapper {
        // Heading [Small]
        .section__heading {
            @extend %h5;
            @include rem( margin, spacing(4) 0 spacing(5) );
            text-align: center;
        }
        background-color: color( 'background', 'alt' );
        // Adjust internal container to allow overflow over footer on item hover
        &.wrap--container {
            overflow: visible;
        }
    }
}

// Variant [Has Items]
.template-collection .productgrid--outer {
    @include rem( padding-bottom, $gap--section-small );
}

// Adjust @custom breakpoint
@include mq( $from: 860px ) {
    // Adjust template grid structure
    .template-collection .collection--section .productgrid--outer {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat( 12, 1fr );
        // Container [Header]
        .productgrid--masthead {
            grid-column: 1 / span 12;
            grid-row: 1;
        }
        .section--subcollections {
            grid-column: 1 / span 12;
            grid-row: 2;
        }        
        // Container [Sidebar]
        // .productgrid--sidebar {
        //     grid-column: 1 / span 2;
        //     grid-row: 3;
        // }
        // Container [Feed]
        .productgrid--wrapper {
            @include rem( padding, 0 0 $gap--section-large );
            // grid-column: 3 / span 10;
            grid-column: 1 / span 12;
            grid-row: 3;
        }
    }
    // Variant [Has Items]
    .template-collection .productgrid--outer.collection--has-items {
        // @include rem( padding-bottom, $gap--section-large );
    }
}


// Container [Collection/Sidebar]
// --------------------------------------------------

.container--sidebar-feed {
    @include rem( padding, spacing(4) 0 $gap--section-small );
    background-color: color( 'background', 'alt' );
    grid-column: 1/span 12;
    // Container [Grid]
    .container--grid {
        display: grid;
        // Container [Sidebar]
        .productgrid--sidebar {
            display: block;
            grid-area: unset !important;
        }
        // Container [Feed]
        .productgrid--wrapper {
            grid-area: unset !important;
            grid-column: unset !important;
            grid-row: unset !important;
            padding: 0 !important;
            .section__heading {
                display: none;
            }
        }
    }
}

// Adjust @custom breakpoint
@include mq( $from: 860px ) {
    .container--sidebar-feed {
        @include rem( padding, spacing(5) 0 $gap--section-large );
        .container--grid {
            @include rem( column-gap, spacing(6) );
            grid-template-columns: 256px 1fr;
        }
    }
}


// Empty Collection Notice
// --------------------------------------------------

.container--empty-collection {
    @include rem( margin-top, spacing(4) );
}


// Component Adjustments
// ----------------------------------------------------------------------------------------------------

// Component [Breadcrumb Navigation]
// --------------------------------------------------

// Adjust alignment
.template-collection .breadcrumbs-container {
    text-align: center;
    width: 100%;
}