// ====================================================================================================
// Templates / Collection
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Template structure
// --------------------------------------------------

// Grid container
.collection--section .productgrid--outer {
    @include rem( max-width, wrap( 'max' ) );
    margin: 0 auto;
    padding: 0 4vw;
    width: 100%;
}


// Section [Page Header]
// Contains collection title description
// --------------------------------------------------

// Section container
.template-collection .productgrid--masthead {
    @include rem( padding, spacing(4) 0 spacing(8) );
    border-bottom: $border--base;
    // Title
    .collection--title {
        @include rem( max-width, 800px );
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    // Description
    .collection--description {
        @include rem((
            margin: 12px auto 0, 
            max-width: 800px 
        ));
        width: 100%;
        // Content
        p {
            text-align: center;
            margin: 0;
        }
    }
}


// Adjust @medium breakpoint
@include mq( $from: medium ) {

    .template-collection .productgrid--masthead {}

}


// Component Adjustments
// ----------------------------------------------------------------------------------------------------

// Component [Breadcrumb Navigation]
// --------------------------------------------------

// Adjust alignment
.template-collection .breadcrumbs-container {
    text-align: center;
    width: 100%;
}