// ====================================================================================================
// Templates / Collection
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Template structure
// --------------------------------------------------

// Grid container
.collection--section .productgrid--outer {
    @include rem( max-width, wrap( 'max' ) );
    margin: 0 auto;
    padding: 0;
    width: 100%;
}


// Adjust @medium breakpoint
@include mq( $from: 860px ) {
    // Adjust template grid structure
    .collection--section .productgrid--outer {
        @include rem((
            column-gap: spacing(4),
            grid-template-columns: 256px 1fr,
            row-gap: spacing(4)
        ));
    }
}


// Section [Page Header]
// Contains collection title & description
// --------------------------------------------------

// Section container
.template-collection .productgrid--masthead {
    @include rem( padding, spacing(4) 0 spacing(8) );
    border-bottom: $border--base;
    // Title
    .collection--title {
        @include rem( max-width, 800px );
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    // Description
    .collection--description {
        @include rem((
            margin: 12px auto 0, 
            max-width: 800px 
        ));
        width: 100%;
        // Content
        p {
            text-align: center;
            margin: 0;
        }
    }
}


// Section [Page Header]
// Contains collection title & description
// --------------------------------------------------

// Section container
.template-collection .productgrid--items {
    @include rem((
        column-gap: spacing(4),
        row-gap: spacing(5)
    ));
    display: grid;
    // Item container:
    .productgrid--item {
        padding: 0;
        transition: box-shadow 0.16s ease-out;
        width: 100% !important;
        // Item wrap
        .productitem {
            border: 0 none;
            box-shadow: none;
            padding: 0;
            // Title
            .productitem--title {
                @include font-size( 'base' );
                font-family: font-family( 'base' );
                font-weight: font-weight( 'bold' );
                margin: 0;
            }
            // Price
            .price.productitem__price {
                @include font-size( 'small' );
                margin: 0;
            }
        }
    }
}


// Adjust @medium breakpoint
@include mq( $from: medium ) {

    .template-collection .productgrid--items {
        grid-template-columns: repeat( 4, 1fr );
    }

}


// State management
.template-collection .productgrid--items {
    // Item:hover
    .productgrid--item:hover {
        box-shadow: 0 2px 24px 0 rgba( 0, 0, 0, 0.24 );
    }


// Component Adjustments
// ----------------------------------------------------------------------------------------------------

// Component [Breadcrumb Navigation]
// --------------------------------------------------

// Adjust alignment
.template-collection .breadcrumbs-container {
    text-align: center;
    width: 100%;
}