// ====================================================================================================
// Templates / Product
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Template Grid Structure
// --------------------------------------------------

// Base styles
.grid--product {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: spacing(6); // Adjust the spacing according to your theme
  }
  
  // Adjust for medium breakpoint
  @include mq($from: medium) {
    .grid--product {
      max-width: rem(1064px);
  
      & > div {
        flex: 0 0 calc(50% - #{spacing(3)}); // each child takes up 50% of the container width
      }
    }
  
    #product__media,
    #product__data {
      order: 1;
    }
  
    #product__header {
      order: 2;
    }
    
    #product__core {
      order: 3;
    }
  }
  