// ====================================================================================================
// Templates / Product
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Template Grid Structure
// --------------------------------------------------

.grid--product {

    // Section [Header]
    #product__header {
		@include rem( row-gap, 12px );
		display: grid;
        // Title
        #product__title {
          	@include font-size( 'h2' );
            margin: 0;
        }
        // Price container
        #product__price {
			@include rem( column-gap, spacing(2) );
			align-items: center;
			display: grid;
			grid-template-columns: max-content max-content;
			// Price
			.price {
				@include rem( column-gap, spacing(2) );
				align-items: center;
				display: grid;
				grid-template-columns: max-content max-content;
				& > * {
					@include font-size( 'base' );
					margin: 0;
				}
			}
			.product__price .price__compare-at.visible ~ .price__current {
				color: color( 'type', '1' );
			}
		}
        // SKU
        #product__sku {}
        // Data Sheet
        #product__data-sheet {}
    }

    // Section [Media]
    #product__media {
        .product-gallery {
            width: 100%;
            // Viewer
            .product-gallery--viewer {
                border: $border--base;
            }
        }
    }

    // Section [Data]
    #product__data {
        // Individual data blocks
        & > * {
            @include rem( padding, spacing(6) 0 );
            border-top: $border--base;
            // Content
            p, 
            li {
                @include font-size( 'small' );
                // Strip margin from final <p> tag
                &:last-child {
                    margin: 0;
                }
            }
        }
    }

}

// Adjust for medium breakpoint
@include mq($from: medium) {
    
    .grid--product {
        @include rem( ( gap: spacing(6), max-width: 1064px ) );
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        grid-gap: spacing(6);
        margin: 0 auto;
      }
      
      #product__media,
      #product__data,
      #product__header,
      #product__core {
        grid-column: span 1;
      }
      
      #product__media {
        grid-row: 1;
      }
      
      #product__header {
        grid-row: 2;
      }
      
      #product__data {
        grid-row: 3;
      }
      
      #product__core {
        grid-row: 4;
      }

}