// ====================================================================================================
// Templates / Product
// ====================================================================================================

// Template Structure
// ----------------------------------------------------------------------------------------------------

// Template Grid Structure
// --------------------------------------------------

.grid--product {}


// Adjust @medium breakpoint
@include mq($from: medium) {
    
    .grid--product {
        @include rem((
            gap: spacing(6),
            max-width: 1064px
        ));
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
  
        & > * {
            @include rem( max-width, 512px );
        }

    }
  
    #product__header,
    #product__media,
    #product__core,
    #product__data {
        flex-basis: calc( 50% - #{spacing(3)} );
    }
  
    #product__media,
    #product__data {
        order: 1;
    }
  
    #product__header,
    #product__core {
        order: 2;
    }

}