// ====================================================================================================
// Base / Theme
// ====================================================================================================

// Theme [Alt]
// ----------------------------------------------------------------------------------------------------

.theme--alt {
	background-color: color( 'titanium', '2' );
	// Component [Primary Section Heading]
	.section__primary-heading {
		border-top: $border--alt;
	}
}


// Theme [Dark]
// ----------------------------------------------------------------------------------------------------

.theme--dark {
	background-color: color( 'steel', '3' );
	color: white;
	// Typography
	// Headings
	h1, %h1,
	h2, %h2,
	h3, %h3,
	h4, %h4,
	h5, %h5 {
		color: white;
	}
	// Component [Primary Section Heading]
	.section__primary-heading {
		border-top: $border--dark;
	}
}