// ====================================================================================================
// Base / Theme
// ====================================================================================================

// Theme [Alt]
// ----------------------------------------------------------------------------------------------------

.theme--alt {
	background-color: color( 'titanium', '2' );
	// Component [Feed, Role]
	// Adjust item border
	.feed--role .item {
		border-bottom: $border--alt;
	}
	// Component [Navigation, Tag]
	// Adjust border color
	.nav--tag a {
		border: $border--alt;
	}
	// Component [Primary Section Heading]
	.section__primary-heading {
		border-top: $border--alt;
	}
}


// Theme [Dark]
// ----------------------------------------------------------------------------------------------------

.theme--dark {
	background-color: color( 'steel', '3' );
	color: color( 'steel', '5' );
	// Typography
	// Headings
	h1, %h1,
	h2, %h2,
	h3, %h3,
	h4, %h4,
	h5, %h5 {
		color: white;
	}
	// Component [Breadcrumbs]
	// Link
	.breadcrumbs-container a {
		color: white;
	}
	// Component [Button, Outline:Hover]
	.button--outline {
		box-shadow: 0 0 0 1px color( 'steel', '5' ) inset;
		// State:hover
		&:hover {
			color: white;
			box-shadow: 0 0 0 1px white inset;
		}
	}
	// Component [Feed, Role]
	// Adjust item border
	.feed--role .item {
		border-bottom: $border--dark;
	}
	// Component [Form]
	.form--base {
		// Input [General]
		input,
		select,
		textarea {
			background-color: white !important;
		}
		// Input [Upload]
		.gfb__dropzone {
			background-color: transparent;
			min-height: 0 !important;
			// Upload
			.gfb__dropzone--preview--item-thumb {
				border: $border--dark;
			}
			.gfb__dropzone--preview--item-title {
				border: $border--dark;
				border-top: 0 none;
			}
		}
		// Notification [Error]
		small.messages p {
			color: color( 'steel', '5' ) !important;
		}
	}
	// Component [Link, Base]
	a:not([class*='button']):not(.breadcrumbs-container a),
	p a,
	li a {
		color: white !important;
	}
	// Component [Primary Section Heading]
	.section__primary-heading {
		border-top: $border--dark;
	}
}


// Theme-based Adjustments
// ----------------------------------------------------------------------------------------------------

// Adjust section heading margin when two consecutive sections themes occur 
.section-theme--base + .section-theme--base,
.section-theme--alt + .section-theme--alt,
.section-theme--dark + .section-theme--dark {
	.section__primary-heading {
		margin-top: 0;
	}
}