{% layout none %}

<div id="col--product-header">
    <!-- Title -->
    {% include 'product-title' %}
    <!-- Price -->
    {% include 'product-price-new' %}
    <!-- Data Sheet -->
    {% include 'product-data-sheet' %}
</div>

<div id="col--product-media">
     <!-- Gallery -->
     {% include 'product-gallery' %}
</div>

<div id="col--product-core">
    <!-- Variant Selection, Quantity & Add To Cart -->
    {% include 'product-form' %}
    <!-- Highlights -->
    {% include 'product-highlights' %}
    <!-- Related Products -->
    {% include 'product-related-products' %}
    <!-- Inquiry Form -->
    {% include 'product-inquiry-form' %}
</div>

<div id="col--product-data">
    <!-- Description -->
    {% include 'product-description' %}
    <!-- Key Specifications -->
    {% include 'product-key-specifications' %}
    <!-- Related Press -->
    {% include 'product-related-press' %}
    <!-- Whitepapers -->
    {% include 'product-whitepapers' %}
    <!-- Instructions -->
    {% include 'product-instructions' %}
</div>